adium-theme-ubuntu==0.3.4
alabaster==0.7.10
ansible==2.6.1
Babel==2.6.0
blurb==1.0.7
certifi==2018.4.16
chardet==3.0.4
cryptography==1.2.3
diff-match-patch==20121119
Django==1.8.7
docutils==0.14
ecdsa==0.13
enum34==1.1.2
httplib2==0.9.1
idna==2.7
imagesize==1.0.0
ipaddress==1.0.16
Jinja2==2.10
MarkupSafe==1.0
mercurial==3.7.3
packaging==17.1
paramiko==1.16.0
pyasn1==0.1.9
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.20.0
pyparsing==2.2.0
Pyste==0.9.10
python-apt==1.1.0b1+ubuntu0.16.4.1
python-docs-theme==2018.2
pytz==2018.4
PyYAML==3.11
requests==2.19.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.6
sphinxcontrib-websupport==1.1.0
sqlparse==0.1.18
translate-toolkit==2.3.0
typing==3.6.4
unity-lens-photos==1.0
urllib3==1.23
virtualenv==15.0.1
