<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<u1>

    {{ all_new_texts }}

</u1>

    <input type="submit" class="btn btn-success center-block" value="Protest" onclick="location.href = 'http://localhost:8000/classify/agreed/'" name="protest-btn">

    <input type="submit" class="btn btn-info center-block" value="Non-Protest" onclick="location.href = 'http://localhost:8000/classify/nonagreed/'"name="non-protest-btn">


<a href='http://localhost:8000/classify/tagged'>İşaretlenmişleri Göster</a>